body {
  font-family: 'Montserrat', sans-serif !important;
  padding-top: 54px;
}

h4 {
  padding: 15px;
}

h1.product1__text-content{
  text-align: center;
  font-weight: bold;
  font-size: 2.8rem;
}
h2 {
  padding: 10px;
  text-align: center;
}

a, a:hover, a:visited {
  text-decoration: none;
  outline: none;
}
@media screen and (max-width: 992px) {
  body {
    padding-top: 56px;

  }
  h4 {
    padding: 10px;
  }
  h1.product1__text-content{
    font-size: 1.8rem;
  }  

  .product1__btn{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .product__img {
    display: none;
  }

  .hero-product__text {
    font-size: 1rem;
  }

}

.qualidade__card{
    font-size: 0.9rem;
  }
.btn-ml {
  font-size: 1rem;
  font-weight: 500;
}


.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.portfolio-item {
  margin-bottom: 30px;
}

.barra {
  height: 5px;
  background-color: #ff0000;
  width: 0%;
  margin: -5px 0px 0px 0px;
  border: none;
  z-index: 1;
  position: relative; 
}

.barra.anima {
  -webkit-transition: width 4.25s linear;
  -moz-transition: width 4.25s linear;
  -o-transition: width 4.25s linear;
  transition: width 4.25s linear;
}

.container.rodape{
  font-size: 1.8rem;
  color: white;
}



.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;

}

.thumbnail{
  max-height: 300px;
}

.caixa {
  border: 1px #ddd solid;
  padding: 20px;
  text-align: justify;
  height: 300px;
  border-radius: 10px;
}

.caixa h4 {
  text-align: center;
}

.caixa i {
  text-align: center;
}

.caixaMod {
  background-color: black;
  color: white;
}

.alinha_icons {
  text-align: center;
}

.product1__text-content{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  color: white;
  font-size: 3.8rem;
  text-shadow: 2px 2px black;
}

.product1__btn{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.product__information{
  text-align: justify;
}

.section {
  padding: 20px;
}

#product_container {
  padding-top: 60px;
}

ol.breadcrumb {
  padding: -20px;
  background-color: white;
  text-align: center;
}

#hero-product {
  position: relative;
}
.hero-product__text {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 35%;
  height: 82%;
  color: black;
  padding: 0px;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgba(0,0,200, 0.6);

}
.hero-product__text p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.product__title {
  color: blue;
  width: 100%;
  text-align: center;

}

.icone_fonte{
  font-weight: bold;
}